$background: rgb(17, 24, 39);
$dirtyWhite: rgb(209, 213, 219);
$white: rgb(255, 255, 255);
$black: rgb(0,0,0);
$notActive: rgba(255, 255, 255, 0.644);
$mainColor: rgb(29, 41, 66);
$secondaryColor: rgb(41, 58, 94);
$winningLine: rgb(93, 115, 163);