@import "./colors";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;
	background-color: $background;
	color: $dirtyWhite;
}
.not-active {
	pointer-events: none;
}
.header {
	display: flex;
	justify-content: center;
	padding: 30px;
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80vw;
	min-width: 250px;
	max-width: 650px;
	max-height: 50vh;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
	background-color: $mainColor;
	overflow: hidden;
}
.options {
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	background-color: $mainColor;
	overflow: hidden;
	z-index: 1;
	
    &-active {
		animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		display: flex;
	}
	.option {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px;
		background-color: $secondaryColor;
		border-radius: 40px;
		cursor: pointer;
		.icon {
			font-size: 60px;
			margin: 35px;
		}
		.fa-robot {
			margin: 24px;
		}
		.option-name {
			position: relative;
			left: 5px;
			font-size: 20px;
			font-weight: 600;
			letter-spacing: 3px;
			margin-bottom: 30px;
		}
		.option-image {
			display: flex;
			align-items: center;
		}
	}
}

.settings {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	margin: 30px;
	.show-options-btn {
		position: absolute;
		top: 0px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: 30px;
		margin: 15px;
		color: $black;
		right: 0px;
		z-index: 1;
	}
	.buttons {
		.button {
			padding: 8px 16px;
			font-size: 16px;
			background-color: $white;
			color: $mainColor;
			border: none;
			border-radius: 10px;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;
		}
		.not-active {
			background-color: $notActive;
		}
		.button:hover {
			background-color: $mainColor;
			color: $white;
		}
	}
	.inputs {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		.change {
			display: none;
			font-size: 40px;
			color: $black;
			cursor: pointer;
			&-active {
				display: block;
			}
			&-not-active {
				background-color: none;
				pointer-events: none;
			}
		}
		.input-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			.first-input {
				&-not-active {
					background-color: $notActive;
					pointer-events: none;
				}
			}
			.second-input {
				&-not-active {
					background-color: $notActive;
					pointer-events: none;
				}
			}
			.input {
				width: 70%;
				height: 25px;
				margin-top: 5px;
				padding: 10px;
				font-size: 16px;
				border: none;
				border-radius: 20px;
				text-align: center;
				transition: background-color 0.3s;
			}
		}
		.not-active {
			background-color: $notActive;
		}
	}
}
.board {
	display: grid;
	grid-template-columns: repeat(3, 70px);
	grid-template-rows: repeat(3, 70px);
	height: 100vh;
	.field {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border: 1px solid $dirtyWhite;
		.sign {
			font-size: 40px;
			text-shadow: 5px 5px 15px $black;
			transition: 0.5s;
			pointer-events: none;
		}
		.taken-sign {
			animation: showSign 0.5s forwards;
		}
		.winning-line {
			position: absolute;
			display: none;
			opacity: 0;
			width: 210px;
			height: 10px;
			background-color: $winningLine;
			box-shadow: 5px 5px 20px $black;
			border-radius: 10px;
			z-index: 100;
			transition: translate;
		}
		.winning-line10,
		.winning-line11,
		.winning-line12 {
			height: 210px;
			width: 10px;
		}
		.winning-line00,
		.winning-line01,
		.winning-line02 {
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		.winning-line20 {
			width: 296.98px;
			rotate: 45deg;
		}
		.winning-line30 {
			width: 296.98px;
			rotate: -45deg;
		}

		.active {
			display: block;
			animation: showLine 0.5s forwards;
		}
	}
	.field:nth-child(-n + 3) {
		border-top: none;
	}
	.field:nth-last-child(-n + 3) {
		border-bottom: none;
	}
	.field:nth-child(3n + 1) {
		border-left: none;
	}
	.field:nth-child(3n) {
		border-right: none;
	}
}

.info {
	padding: 30px 40px;
	background-color: $secondaryColor;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	transform: translateY(100px);
	transition: transform 0.5s;
	&-active {
		transform: translateY(0px);
	}
}

@keyframes showLine {
	from {
		opacity: 0;
		scale: 2;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes showSign {
	from {
		opacity: 0;
		scale: 1.5;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

@media (min-width: 420px) {
	.options .option .icon {
		font-size: 80px;
		margin: 40px;
	}
	.options .option .option-name {
		font-size: 25px;
		margin-bottom: 30px;
	}
	.options .option .fa-robot {
		margin: 25px;
	}
}

@media (min-width: 460px) {
	.options .option .icon {
		font-size: 100px;
	}
	.options .option .option-name {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.options .option .fa-robot {
		margin: 21px;
	}
}

@media (min-width: 650px) {
	.settings .options .show-options {
		margin: 25px;
	}
	.options .option .icon {
		font-size: 140px;
	}
	.options .option .fa-robot {
		margin: 14px;
	}
}


@keyframes scale-up-tr {
    0% {
		opacity: 0;
        transform: scale(0.5);
        transform-origin: 100% 0%;
    }
    100% {
		opacity: 1;
        transform: scale(1);
        transform-origin: 100% 0%;
    }
}
